* {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.container {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 150px 1fr;
}

.sidebar {
    grid-row: 1 / -1;
    padding: 20px;
    display: grid;
    align-items: center;
    align-content: flex-start;
    gap: 25px;
}

.sideheader {
    display: grid;
    grid-template-columns: 50px 1fr;
}

.sidebutton-wrapper {
    display: grid;
    grid-template-columns: 50px 1fr;
    justify-self: start;
}

.header {
    /* grid-column: 2 / 3; */
    display: grid;
    padding: 15px 30px;
}

.header-upper {
    display: grid;
    grid-template-columns: 50px 1fr 100px 50px 50px 150px;
    gap: 15px;
    align-items: center;
}

.header-lower {
    display: grid;
    grid-template-columns: 100px 1fr 100px 100px 100px;
    gap: 15px;
    align-items: center;
}

.main {
    display: grid;
    grid-template-columns: 1fr 250px;
    grid-template-rows: auto auto;
}

.projects {
    grid-row: 1 / -1;
    display: grid;
    grid-template-rows: 20px 1fr;
}

.proj-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.card {
    height: 150px;
}

.announcements {
    display: grid;
    grid-template-rows: 20px 1fr;
}

.ann-card {
    display: grid;
}

.trending {
    display: grid;
    grid-template-rows: 20px 1fr;
}

.tren-card {
    display: grid;
}